# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.eggs/
dist/
build/
*.egg
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Env
.env
.venv/
venv/
ENV/

# Test
.coverage
htmlcov/
.tox/

# Others
.DS_Store
.idea/
*.orig

# Ignore doc build output
/doc/_build/
